@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin" id="account" method="post">
                <div class="form-label-group">
                <input asp-for="Input.Email" type="email" class="form-control" placeholder="Email address" required autofocus>
                <label asp-for="Input.Email">Email address</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-label-group">
                <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password" required>
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="custom-control custom-checkbox mb-3">
                <input asp-for="Input.RememberMe" type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                <div class="text-center"></i>
                    <a id="forgot-password" asp-page="./ForgotPassword" class="d-block form-text">Forgot your password?</a>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="d-block form-text">Register as a new user</a>
                </div>
                <hr class="my-4">
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div class="alert alert-info">
                            <p>
                                There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715" target="_blank">article
                                about setting up this ASP.NET application to support logging in via external services</a>.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="text-center">
                            <div class="d-grid gap-2">
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                     <button type="submit" class="btn btn-lg btn-@provider.Name.ToLower() btn-block text-uppercase" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                        <i class="bi bi-box-arrow-in-right me-2"></i>@provider.DisplayName
                                    </button>
                                            @* <button class="btn btn-lg btn-@provider.Name btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
                                    <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button> *@
                                }
                            </div>
                        </form>
                    }
                }
                
            </form>
            </div>
        </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
